
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre</h2>
<br/>
A avaliação de telemóveis usados revela-se importante para qualquer pessoa que deseje vender o seu telemóvel, seja na internet, pessoalmente ou numa loja. Um telemóvel, na atualidade, sofre de um decaimento muito rápido do seu valor, por conta das constantes inovação tecnológicas, das exigências do mercado, que procura sempre novos produtos, os quais são lançados muito rápido, e por conta do uso constante por parte do utilizador. Estes parâmetros influenciam o valor de um telemóvel, o que levam a que o utilizador tenha pouca noção do valor real do seu telemóvel.
Este site possibilita a qualquer pessoa, a rápida consulta do valor de mercado do seu telemóvel, inserindo algumas caraterísticas de rápida resposta.
